:root {
	--font-family: 'Pretendard';
	--black-color: #333333;
	--vh: 100%;
}

/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* Normalize */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	outline: none;
	border: none;
}

button {
	background-color: transparent;
	color: inherit;
	cursor: pointer;
}

textarea {
	resize: none;
}

.img {
	width: 100%;
	height: auto;
	image-rendering: -webkit-optimize-contrast;
	transform: translateZ(0);
	backface-visibility: hidden;
}

body {
	height: calc(var(--vh, 1vh) * 100);
	font-family: var(--font-family);
	color: var(--black-color);
}

/**************************************/
.wrap {
	width: 100%;
	min-width: 960px;
	padding: 40px 76px;

	/* 구글 */
	&.google {
		.box {
			&>a {
				&.google {
					display: flex;
				}
			}

			.setting_modal {
				&.google.active {
					display: flex;
				}

				row-gap: 20px;
				padding: 20px 27px 28px;

				li {
					a {
						&::before {
							width: 50px;
							height: 50px;
						}

						&.setting_1 {
							&::before {
								background: url('../img/icon-new.png') no-repeat center/contain;
							}
						}

						&.setting_2 {
							&::before {
								background: url('../img/icon-meet.png') no-repeat center/contain;
							}
						}

						&.setting_3 {
							&::before {
								background: url('../img/icon-map.png') no-repeat center/contain;
							}
						}

						&.setting_4 {
							&::before {
								background: url('../img/icon-youtobe-2.png') no-repeat center/contain;
							}
						}

						&.setting_5 {
							&::before {
								background: url('../img/icon-play.png') no-repeat center/contain;
							}
						}

						&.setting_6 {
							&::before {
								background: url('../img/icon-gmail.png') no-repeat center/contain;
							}
						}

						&.setting_7 {
							&::before {
								background: url('../img/icon-adress.png') no-repeat center/contain;
							}
						}

						&.setting_8 {
							&::before {
								background: url('../img/icon-drive.png') no-repeat center/contain;
							}
						}

						&.setting_9 {
							&::before {
								background: url('../img/icon-calendar.png') no-repeat center/contain;
							}
						}

						&.setting_10 {
							&::before {
								background: url('../img/icon-translate.png') no-repeat center/contain;
							}
						}

						&.setting_11 {
							&::before {
								background: url('../img/icon-oicture.png') no-repeat center/contain;
							}
						}

						&.setting_12 {
							&::before {
								background: url('../img/icon-shopping.png') no-repeat center/contain;
							}
						}

						span {
							margin-top: 2px;
						}
					}
				}
			}
		}

		.logo {
			width: 270px;
			height: 91px;
			background: url('../img/logo-google.png') no-repeat center/contain;
			margin: 191px auto 57px;
		}

		.search_wrap {
			border: 1px solid #4285f4;

			&.active {
				&::before {
					background: url('../img/logo-google-2.png') no-repeat center;
				}

				input {
					border-bottom: 1px solid #4285f4;
				}
			}
		}

		.select_btn {
			&::before {
				background: url('../img/logo-google-2.png') no-repeat center/contain;
			}
		}

		.search_list {
			border: 1px solid #4285f4;

			.search_head {

				h5 {
					color: #4285f4;
				}
			}
		}
	}

	/* 네이버 */
	&.naver {
		.box {
			&>a {
				&.naver {
					display: flex;
				}
			}

			.setting_modal {
				row-gap: 26px;
				padding: 26px 27px 28px;

				&.naver.active {
					display: flex;
				}

				li {

					a {
						&::before {
							width: 40px;
							height: 40px;
						}

						&.setting_1 {
							&::before {
								background: url('../img/icon-n-mail.png') no-repeat center/contain;
							}
						}

						&.setting_2 {
							&::before {
								background: url('../img/icon-n-cafe.png') no-repeat center/contain;
							}
						}

						&.setting_3 {
							&::before {
								background: url('../img/icon-n-blog.png') no-repeat center/contain;
							}
						}

						&.setting_4 {
							&::before {
								background: url('../img/icon-n-store.png') no-repeat center/contain;
							}
						}

						&.setting_5 {
							&::before {
								background: url('../img/icon-n-news.png') no-repeat center/contain;
							}
						}

						&.setting_6 {
							&::before {
								background: url('../img/icon-n-stock.png') no-repeat center/contain;
							}
						}

						&.setting_7 {
							&::before {
								background: url('../img/icon-n-map.png') no-repeat center/contain;
							}
						}

						&.setting_8 {
							&::before {
								background: url('../img/icon-n-webtoon.png') no-repeat center/contain;
							}
						}

						&.setting_9 {
							&::before {
								background: url('../img/icon-n-chzzk.png') no-repeat center/contain;
							}
						}

						&.setting_10 {
							&::before {
								background: url('../img/icon-n-mybox.png') no-repeat center/contain;
							}
						}

						&.setting_11 {
							&::before {
								background: url('../img/icon-n-calendar.png') no-repeat center/contain;
							}
						}

						&.setting_12 {
							&::before {
								background: url('../img/icon-n-novel.png') no-repeat center/contain;
							}
						}

						span {
							margin-top: 6px;
						}
					}
				}
			}
		}

		.logo {
			width: 276px;
			height: 52px;
			background: url('../img/logo-naver.png') no-repeat center/contain;
			margin: 207px auto 80px;
		}

		.search_wrap {
			border: 1px solid #03cf5d;

			&.active {
				&::before {
					background: url('../img/logo-naver-2.png') no-repeat center/contain;
				}

				input {
					border-bottom: 1px solid #03cf5d;
				}
			}
		}

		.select_btn {
			&::before {
				background: url('../img/logo-naver-2.png') no-repeat center/contain;
			}
		}

		.search_list {
			border: 1px solid #03cf5d;

			.search_head {

				h5 {
					color: #03cf5d;
				}
			}
		}
	}

	/* 다음 */
	&.daum {
		.box {
			&>a {
				&.daum {
					display: flex;
				}
			}

			.setting_modal {
				row-gap: 23px;
				padding: 26px 27px 28px;

				&.daum.active {
					display: flex;
				}

				li {
					a {
						&::before {
							width: 43px;
							height: 43px;
						}

						&.setting_1 {
							&::before {
								background: url('../img/icon-d-map.png') no-repeat center/contain;
							}
						}

						&.setting_2 {
							&::before {
								background: url('../img/icon-d-finance.png') no-repeat center/contain;
							}
						}

						&.setting_3 {
							&::before {
								background: url('../img/icon-d-mail.png') no-repeat center/contain;
							}
						}

						&.setting_4 {
							&::before {
								background: url('../img/icon-d-sports.png') no-repeat center/contain;
							}
						}

						&.setting_5 {
							&::before {
								background: url('../img/icon-d-cafe.png') no-repeat center/contain;
							}
						}

						&.setting_6 {
							&::before {
								background: url('../img/icon-d-game.png') no-repeat center/contain;
							}
						}

						&.setting_7 {
							&::before {
								background: url('../img/icon-d-webtoon.png') no-repeat center/contain;
							}
						}

						&.setting_8 {
							&::before {
								background: url('../img/icon-d-shopping.png') no-repeat center/contain;
							}
						}

						&.setting_9 {
							&::before {
								background: url('../img/icon-d-news.png') no-repeat center/contain;
							}
						}

						&.setting_10 {
							&::before {
								background: url('../img/icon-d-cloud.png') no-repeat center/contain;
							}
						}

						&.setting_11 {
							&::before {
								background: url('../img/icon-gift.png') no-repeat center/contain;
							}
						}

						&.setting_12 {
							&::before {
								background: url('../img/icon-melon.png') no-repeat center/contain;
							}
						}

						span {
							margin-top: 2px;
						}
					}
				}
			}
		}

		.logo {
			width: 260px;
			height: 65px;
			background: url('../img/logo-daum.png') no-repeat center/contain;
			margin: 200px auto 74px;
		}

		.search_wrap {
			border: 1px solid #273552;

			&.active {
				&::before {
					background: url('../img/logo-daum-2.png') no-repeat center/contain;
				}

				input {
					border-bottom: 1px solid #273552;
				}
			}
		}

		.select_btn {
			&::before {
				background: url('../img/logo-daum-2.png') no-repeat center/contain;
			}
		}

		.search_list {
			border: 1px solid #273552;

			.search_head {

				h5 {
					color: #273552;
				}
			}
		}
	}

	/* 공통 */
	.box {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		column-gap: 30px;
		font-size: 14px;
		color: #666;

		&>a {
			display: none;
		}

		button {
			&.more_btn {
				padding: 6px;
				border-radius: 10px;
				transition: all 0.2s;

				&:hover,
				&.active {
					background-color: #efefef;
				}

				&::before {
					content: "";
					display: block;
					width: 18px;
					height: 18px;
					background: url('../img/icon-menu.png') no-repeat center;
				}
			}

			&.setting_btn {
				padding: 6px;
				border-radius: 10px;
				transition: all 0.2s;

				&:hover,
				&.active {
					background-color: #efefef;
				}

				&::before {
					content: "";
					display: block;
					width: 18px;
					height: 18px;
					background: url('../img/icon-setting.png') no-repeat center/contain;
				}
			}
		}

		.setting_modal {
			position: absolute;
			top: 40px;
			right: 0;
			display: none;
			justify-content: space-between;
			flex-wrap: wrap;
			column-gap: 24px;
			width: 261px;
			min-height: 371px;
			border-radius: 5px;
			border: 1px solid #d9d9d9;
			background-color: #f9fcff;
			z-index: 999;

			li {
				width: 52px;

				a {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;

					&::before {
						content: "";
						display: block;
					}

					span {
						font-size: 12px;
						color: #333;
					}
				}
			}
		}
	}

	.search_group {
		position: relative;
		width: 700px;
		min-height: 50px;
		margin: auto;
		margin: 0 auto 50px;
	}

	.search_wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 50px;
		border-radius: 200px;
		background-color: #fff;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		padding-right: 21px;

		/* 포커스 시 */
		&.active {
			position: absolute;
			border: none;
			background-color: transparent;
			box-shadow: none;
			padding: 0 22px;
			z-index: 998;

			&::before {
				position: absolute;
				content: "";
				width: 18px;
				height: 18px;
				z-index: 999;
			}

			.select {
				display: none;
			}

			input {
				position: relative;
				width: 100%;
				border-radius: 30px 30px 0 0;
				padding-left: 34px;
			}

			.search_btn {
				position: absolute;
				right: 21px;
			}
		}

		.select {
			position: relative;
			width: 87px;
			height: 100%;
			flex-shrink: 0;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				width: 1px;
				height: 23px;
				background-color: #d9d9d9;
			}

			.select_btn {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 100%;
				height: 100%;

				&::before {
					content: "";
					width: 18px;
					height: 18px;
				}

				&::after {
					content: "";
					width: 13px;
					height: 7px;
					background: url('../img/icon-selectbox.png') no-repeat center/contain;
					margin: 0 20px 0 11px;
				}
			}
		}

		.select_active {
			position: relative;
			top: 49px;
			left: -1px;
			min-width: 97px;
			border-radius: 5px;
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
			border: 1px solid #d9d9d9;
			background-color: #f9fcff;
			z-index: 998;

			button {
				position: relative;
				display: flex;
				flex-direction: column;
				width: 100%;
				padding: 15px 22px;

				&.select_btn {
					flex-direction: row;
					justify-content: space-between;
					align-items: center;

					&::after {
						content: "";
						right: 0;
						width: 13px;
						height: 7px;
						background: url('../img/icon-selectbox.png') no-repeat center/contain;
						transform: rotate(180deg);
					}
				}

				&:not(:last-child) {
					border-bottom: 1px solid #d9d9d9;
				}

				&::before {
					content: "";
					display: inline-block;
					width: 18px;
					height: 18px;
				}

				&.google {
					&::before {
						background: url('../img/logo-google-2.png') no-repeat center/contain;
					}
				}

				&.naver {
					&::before {
						background: url('../img/logo-naver-2.png') no-repeat center/contain;
					}
				}

				&.daum {
					&::before {
						background: url('../img/logo-daum-2.png') no-repeat center/contain;
					}
				}
			}
		}

		input {
			position: relative;
			width: 100%;
			height: 100%;
			font-size: 16px;
			padding: 0 20px;

			&::placeholder {
				font-size: 20px;
				color: #d9d9d9;
			}
		}

		.search_btn {
			width: 22px;
			height: 22px;
			flex-shrink: 0;
			background: url('../img/icon-search.png') no-repeat center/contain;
		}
	}

	.search_list {
		display: none;
		position: absolute;
		width: 700px;
		top: -1px;
		border-radius: 26px;
		background-color: #fff;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		padding: 50px 22px 30px;
		z-index: 997;

		.search_head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 23px;

			h5 {
				font-size: 16px;
				font-weight: 600;
			}

			.total_remove_btn {
				font-size: 16px;
				color: #c9c9c9;
			}
		}

		.search_body {
			display: flex;
			justify-content: space-between;

			h5 {
				font-size: 18px;

				span {
					color: #000;
				}
			}

			.body_left {
				flex: 0 0 50%;
				overflow: hidden;
				padding-right: 16px;
			}

			.body_right {
				flex: 0 0 50%;
				overflow: hidden;
				padding-left: 16px;

				.swiper_btn {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					column-gap: 15px;

					.swiper-pagination {
						position: static;
						width: auto;
						font-size: 12px;
						color: #c9c9c9;

						.swiper-pagination-current {
							color: #666666;
						}
					}

					.swiper-button-prev {
						position: static;
						width: 8px;
						height: 13px;
						background: url('../img/icon-cursor-l.svg') no-repeat center;
						margin-top: 0;

						&::after {
							content: none;
						}

						&:hover {
							background: url('../img/icon-cursor-l.svg') no-repeat center;
						}

						&.swiper-button-disabled {
							background: url('../img/icon-cursor-l.svg') no-repeat center;
							background: none;
						}
					}

					.swiper-button-next {
						position: static;
						width: 8px;
						height: 13px;
						background: url('../img/icon-cursor-r.svg') no-repeat center;
						margin-top: 0;

						&::after {
							content: none;
						}

						&:hover {
							background: url('../img/icon-cursor-r.svg') no-repeat center;
						}

						&.swiper-button-disabled {
							background: url('../img/icon-cursor-r.svg') no-repeat center;
							background: none;
						}
					}
				}
			}
		}

		ul {
			flex: 1;

			li {
				cursor: pointer;
			}

			&.recent_search {
				margin-top: 22px;

				.left {
					&::before {
						flex-shrink: 0;
						width: 20px;
						height: 20px;
						margin-right: 10px;
						background: url('../img/icon-time.svg') no-repeat center/contain;
					}
				}
			}

			&.related_search {
				margin-top: 16px;
				min-width: 0;

				.left {
					&::before {
						flex-shrink: 0;
						width: 16px;
						height: 16px;
						margin-right: 17px;
						background: url('../img/icon-search.svg') no-repeat center/contain;
					}
				}
			}

			&.popular_search {
				margin-top: 18px;
				margin-bottom: 4px;
				min-width: 0;

				li:not(:last-child) {
					margin-bottom: 16px;
				}

				.left {
					.rank {
						display: flex;
						justify-content: center;
						align-items: center;
						flex-shrink: 0;
						width: 20px;
						height: 20px;
						font-size: 14px;
						color: #333;
						border-radius: 2px;
						background-color: #f9f9f9;
						margin-right: 12px;
					}
				}

				.right {
					min-width: 34px;
					font-size: 16px;
					font-weight: 500;

					.new {
						color: #f90;
					}

					.top {
						color: #f00;

						&::before {
							content: "▲";
							font-size: 11px;
							color: #f00;
							margin: 0 2px 0 5px;
						}
					}

					.down {
						color: #00a8ff;

						&::before {
							content: "▼";
							font-size: 11px;
							color: #00a8ff;
							margin: 0 2px 0 5px;
						}
					}

					.maintenance {
						margin: auto;

						&::before {
							content: "";
							width: 14px;
							height: 2px;
							background-color: #707070;
							display: block;
						}
					}
				}
			}

			&.popular_info {
				margin-top: 18px;
				min-width: 0;

				li {
					.img_box {
						flex-shrink: 0;
						width: 90px;
						height: 60px;
						background-color: #eee;
						margin-right: 15px;
					}

					&:not(:last-child) {
						margin-bottom: 15px;
					}

					div {
						min-width: 0;
						padding-right: 30px;

						h6 {
							font-size: 14px;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							margin-bottom: 5px;
						}

						p {
							font-size: 12px;
							line-height: 1.5;
							color: #666;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
			}

			li {
				display: flex;
				justify-content: space-between;

				&:not(:last-child) {
					margin-bottom: 14px;
				}

				.left {
					display: flex;
					align-items: center;
					min-width: 0;

					&.related_link {
						display: flex;
						align-items: center;

						&::before {
							position: relative;
							left: -5px;
							flex-shrink: 0;
							width: 26px;
							height: 26px;
							margin-right: 7px;
							background: url('../img/icon-coupang-s-001.png') no-repeat center/contain;
						}

						p {
							font-size: 18px;
							color: #000;
						}

						.link {
							font-size: 18px;
							color: #4285f4;
							margin-left: 40px;
							margin-right: 16px;
						}
					}

					&::before {
						content: "";
						display: inline-block;
					}

					p {
						font-size: 16px;
						color: #666;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						margin-right: 10px;
					}
				}

				.right {
					display: flex;
					align-items: center;

					span {
						font-size: 16px;
						color: #666;
					}

					.remove_btn {
						width: 10px;
						height: 10px;
						background: url('../img/icon-close.svg') no-repeat center/contain;
						margin-left: 15px;
					}

					.btn_link {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 140px;
						height: 34px;
						font-size: 14px;
						color: #fff;
						border-radius: 6px;
						background-color: #4285f4;
						transition: all 0.2s;

						&:hover {
							filter: brightness(1.1);
						}
					}
				}
			}
		}

		.related_brand {
			position: relative;
			top: -16px;
			flex-shrink: 0;
			width: 260px;
			text-align: center;
			border-radius: 10px;
			border: solid 1px #e6e6e6;
			background-color: #fff;
			margin-left: 10px;
			padding: 21px 10px;

			.related_logo {
				max-width: 150px;
				max-height: 130px;
				margin: auto;
			}

			h5 {
				font-size: 14px;
				font-weight: 600;
				color: #4285f4;
				margin-top: 12px;
			}

			p {
				font-size: 12px;
				line-height: 1.5;
				letter-spacing: -0.48px;
				color: #000;
				margin-top: 12px;
			}

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 150px;
				height: 34px;
				font-size: 13px;
				color: #fff;
				border-radius: 6px;
				background-color: #4285f4;
				margin: 16px auto 0;
				transition: all 0.2s;

				&:hover {
					filter: brightness(1.1);
				}
			}
		}
	}

	.site_wrap {
		display: grid;
		align-items: flex-start;
		grid-template-columns: repeat(10, minmax(60px, max-content));
		justify-content: center;
		grid-gap: 30px;
		row-gap: 20px;

		.site {
			position: relative;
			transition: all 0.2s;

			&:hover {
				.more_btn {
					display: block;
				}
			}
		}

		.more_btn {
			position: absolute;
			top: -8px;
			right: -8px;
			display: none;
			border: 1px solid #d9d9d9;
			border-radius: 50%;
			background-color: #f9fcff;
			padding: 9px 5px;

			&.active {
				display: block;
			}

			&::before {
				content: "";
				display: block;
				width: 10px;
				height: 2px;
				background: url('../img/icon-more.svg') no-repeat center;
			}
		}

		.more_pop {
			position: absolute;
			top: 17px;
			right: -5px;
			display: none;
			width: 120px;
			height: 80px;
			border-radius: 5px;
			border: 1px solid #d9d9d9;
			background-color: #f9fcff;
			padding: 8px 0;
			z-index: 99;


			&.active {
				display: block;
			}

			button {
				width: 100%;
				height: 32px;
				text-align: left;
				padding: 0 15px;
				transition: all 0.2s;

				&:hover {
					background-color: #e4f1ff;
				}
			}
		}

		a {
			display: flex;
			flex-direction: column;
			align-items: center;

			&::before {
				content: "";
				width: 40px;
				height: 40px;
				border-radius: 18px;
				border: 1px solid #e1e1e1;
				background-color: rgba(255, 255, 255, 0.8);
				background-size: 40px 40px !important;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
				padding: 9px;
			}

			span {
				width: 72px;
				font-size: 14px;
				font-weight: 500;
				text-align: center;
				margin-top: 7px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		a.naver::before {
			background: url('../img/icon-naver.png') no-repeat center;
		}

		a.google::before {
			background: url('../img/icon-google.png') no-repeat center;
			background-color: rgba(246, 246, 246, 0.8);
		}

		a.daum::before {
			background: url('../img/icon-daum.png') no-repeat center;
			background-color: rgba(246, 246, 246, 0.8);
		}

		a.youtobe::before {
			background: url('../img/icon-youtobe.png') no-repeat center;
			background-color: rgba(246, 246, 246, 0.8);
		}

		a.insta::before {
			background: url('../img/icon-insta.png') no-repeat center;
		}

		a.coupang::before {
			background: url('../img/icon-coupang.png') no-repeat center;
			background-color: rgba(246, 246, 246, 0.8);
		}

		a.gmarket::before {
			background: url('../img/icon-gmarket.png') no-repeat center;
		}

		a.auction::before {
			background: url('../img/icon-auction.png') no-repeat center;
		}

		a.store::before {
			background: url('../img/icon-11.png') no-repeat center;
		}

		a.ali::before {
			background: url('../img/icon-ali.png') no-repeat center;
		}
	}

	.go {
		&::before {
			content: "";
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 18px;
			border: 1px solid #e1e1e1;
			background: url('../img/icon-plus.png') no-repeat center;
			background-color: #f8f8f8;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
			padding: 9px;
			margin-bottom: 7px;
		}

		span {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			text-align: center;
			white-space: nowrap;
		}
	}
}

.modal_wrap {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s;

	.pop {
		position: relative;
		width: 460px;
		color: #333;
		border: 1px solid #e1e1e1;
		border-radius: 10px;
		background-color: #fff;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
		padding: 28px 30px 30px;

		&.pop2 {
			width: 600px;
		}

		.pop_header {
			margin-bottom: 8px;

			.close_btn {
				position: absolute;
				top: 13px;
				right: 23px;
				padding: 8px;
				border-radius: 6px;
				transition: all 0.1s;

				&::before {
					content: "";
					width: 14px;
					height: 14px;
					display: block;
					background: url('../img/icon-close2.svg') no-repeat center;
				}

				&:hover {
					background-color: #efefef;
				}
			}
		}

		.pop_body {
			.form_list {
				position: relative;
				display: flex;
				flex-direction: column-reverse;
				margin-top: 30px;

				&:nth-child(1) {
					margin-top: 36px;
				}

				label {
					font-size: 14px;
				}

				input {
					display: block;
					width: 100%;
					height: 40px;
					border: 1px solid #e1e1e1;
					border-radius: 8px;
					background-color: #fff;
					padding: 0 20px;
					margin-top: 13px;

					&::placeholder {
						color: #c9c9c9;
					}

					&:focus {
						border: 1px solid #4285f4;
					}

					&:focus~label {
						color: #4285f4;
					}
				}

				.close_btn {
					position: absolute;
					bottom: 11px;
					right: 17px;
					padding: 5px;
					background-color: #d9d9d9;
					border-radius: 50%;

					&::before {
						content: "";
						display: block;
						width: 8px;
						height: 8px;
						background: url('../img/icon-close3.svg') no-repeat center;
					}
				}
			}

			.btn_wrap {
				display: flex;
				justify-content: flex-end;
				column-gap: 10px;
				margin-top: 10px;

				button {
					width: 49px;
					height: 34px;
					border-radius: 8px;

					&.cancle_btn {
						border: 1px solid#e1e1e1;
						background-color: #fff;
					}

					&.add_btn,
					&.modify_btn {
						color: #fff;
						border: 1px solid#4285f4;
						background-color: #4285f4;

						&:disabled {
							color: #bbb;
							border: 1px solid#e1e1e1;
							background-color: #f1f1f1;
						}
					}
				}
			}

			.box {
				width: 100%;
				height: 274px;
				border: 1px solid #e1e1e1;
				border-radius: 8px;
				background-color: #fff;
				padding: 21px;
				margin-top: 30px;
				overflow-y: scroll;

				.tab_wrap {
					display: flex;
					column-gap: 16px;

					button {
						font-size: 14px;
						color: #bbb;

						&.active {
							color: #333;
						}
					}
				}

				.list_wrap {
					display: flex;
					flex-wrap: wrap;
					row-gap: 21px;
					margin-top: 18px;

					li {
						width: 20%;

						button {
							display: flex;
							align-items: center;
							flex-direction: column;
							width: 90px;
							height: 90px;
							border-radius: 10px;
							transition: all 0.1s;

							span {
								max-width: 100%;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								margin-top: 9px;
								padding: 0 5px;
							}

							&:hover {
								background-color: #efefef;
							}

							&::before {
								content: "";
								width: 40px;
								height: 40px;
								display: block;
								background: url('../img/logo-netflix-2.png') no-repeat center;
								border-radius: 18px;
								padding: 10px;
								background-color: #efefef;
							}
						}
					}
				}
			}

			.box2 {
				width: 100%;
				height: 224px;
				border-radius: 8px;
				border: solid 1px #e1e1e1;
				background-color: #fff;
				padding: 11px;
				margin: 10px 0 38px;
				overflow-y: scroll;

				.list_wrap {
					display: flex;
					flex-wrap: wrap;
					gap: 6px;

					.bg_option {
						input {
							display: none;
						}

						img,
						span {
							width: 67px;
							height: 100%;
							font-size: 10px;
							border: 2px solid transparent;
							border-radius: 6px;
							transition: all 0.2s;
							cursor: pointer;
						}

						span {
							display: flex;
							justify-content: center;
							align-items: center;
							border: 1px solid #e1e1e1;
						}

						input:checked+img,
						input:checked+span {
							border: 2px solid #4285f4;
							transform: scale(1.07);
						}
					}
				}
			}
		}
	}
}

.file_wrap {
	display: flex;
	column-gap: 10px;
	margin-top: 25px;

	.file_img {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 67px;
		height: 44px;
		border-radius: 6px;
		border: 2px solid #e1e1e1;

		&::before {
			content: "";
			width: 37px;
			height: 26px;
			background: url('../img/img-load.svg') no-repeat center;
		}

		img {
			position: absolute;
			width: 67px;
			height: 44px;
		}

		.remove_btn {
			position: absolute;
			top: -8px;
			right: -8px;
			padding: 5px;
			background-color: #d9d9d9;
			border-radius: 50%;

			&::before {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				background: url('../img/icon-close3.svg') no-repeat center;
			}
		}
	}

	.file_add {
		width: 215px;
		height: 44px;

		input {
			display: none;
		}

		label {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-size: 14px;
			color: #fff;
			border-radius: 6px;
			border: 1px solid #4285f4;
			background-color: #4285f4;
			cursor: pointer;

			&::before {
				content: "";
				width: 16px;
				height: 16px;
				display: inline-block;
				background: url('../img/down.png') no-repeat center;
				margin-right: 10px;
			}
		}
	}
}