@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
:root {
  --font-family: "Pretendard";
  --black-color: #333333;
  --vh: 100%;
}

/* font */
/* Normalize */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
}

button {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

textarea {
  resize: none;
}

.img {
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body {
  height: calc(var(--vh, 1vh) * 100);
  font-family: var(--font-family);
  color: var(--black-color);
}

/**************************************/
.wrap {
  width: 100%;
  min-width: 960px;
  padding: 40px 76px;
  /* 구글 */
  /* 네이버 */
  /* 다음 */
  /* 공통 */
}
.wrap.google .box > a.google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrap.google .box .setting_modal {
  row-gap: 20px;
  padding: 20px 27px 28px;
}
.wrap.google .box .setting_modal.google.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrap.google .box .setting_modal li a::before {
  width: 50px;
  height: 50px;
}
.wrap.google .box .setting_modal li a.setting_1::before {
  background: url("../img/icon-new.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_2::before {
  background: url("../img/icon-meet.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_3::before {
  background: url("../img/icon-map.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_4::before {
  background: url("../img/icon-youtobe-2.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_5::before {
  background: url("../img/icon-play.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_6::before {
  background: url("../img/icon-gmail.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_7::before {
  background: url("../img/icon-adress.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_8::before {
  background: url("../img/icon-drive.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_9::before {
  background: url("../img/icon-calendar.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_10::before {
  background: url("../img/icon-translate.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_11::before {
  background: url("../img/icon-oicture.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a.setting_12::before {
  background: url("../img/icon-shopping.png") no-repeat center/contain;
}
.wrap.google .box .setting_modal li a span {
  margin-top: 2px;
}
.wrap.google .logo {
  width: 270px;
  height: 91px;
  background: url("../img/logo-google.png") no-repeat center/contain;
  margin: 236px auto 57px;
}
.wrap.google .search_wrap {
  border: 1px solid #4285f4;
}
.wrap.google .search_wrap.active::before {
  background: url("../img/logo-google-2.png") no-repeat center;
}
.wrap.google .search_wrap.active input {
  border-bottom: 1px solid #4285f4;
}
.wrap.google .select_btn::before {
  background: url("../img/logo-google-2.png") no-repeat center/contain;
}
.wrap.google .search_list {
  border: 1px solid #4285f4;
}
.wrap.google .search_list .search_head h5 {
  color: #4285f4;
}
.wrap.naver .box > a.naver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrap.naver .box .setting_modal {
  row-gap: 26px;
  padding: 26px 27px 28px;
}
.wrap.naver .box .setting_modal.naver.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrap.naver .box .setting_modal li a::before {
  width: 40px;
  height: 40px;
}
.wrap.naver .box .setting_modal li a.setting_1::before {
  background: url("../img/icon-n-mail.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_2::before {
  background: url("../img/icon-n-cafe.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_3::before {
  background: url("../img/icon-n-blog.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_4::before {
  background: url("../img/icon-n-store.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_5::before {
  background: url("../img/icon-n-news.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_6::before {
  background: url("../img/icon-n-stock.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_7::before {
  background: url("../img/icon-n-map.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_8::before {
  background: url("../img/icon-n-webtoon.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_9::before {
  background: url("../img/icon-n-chzzk.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_10::before {
  background: url("../img/icon-n-mybox.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_11::before {
  background: url("../img/icon-n-calendar.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a.setting_12::before {
  background: url("../img/icon-n-novel.png") no-repeat center/contain;
}
.wrap.naver .box .setting_modal li a span {
  margin-top: 6px;
}
.wrap.naver .logo {
  width: 276px;
  height: 52px;
  background: url("../img/logo-naver.png") no-repeat center/contain;
  margin: 252px auto 80px;
}
.wrap.naver .search_wrap {
  border: 1px solid #03cf5d;
}
.wrap.naver .search_wrap.active::before {
  background: url("../img/logo-naver-2.png") no-repeat center/contain;
}
.wrap.naver .search_wrap.active input {
  border-bottom: 1px solid #03cf5d;
}
.wrap.naver .select_btn::before {
  background: url("../img/logo-naver-2.png") no-repeat center/contain;
}
.wrap.naver .search_list {
  border: 1px solid #03cf5d;
}
.wrap.naver .search_list .search_head h5 {
  color: #03cf5d;
}
.wrap.daum .box > a.daum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrap.daum .box .setting_modal {
  row-gap: 23px;
  padding: 26px 27px 28px;
}
.wrap.daum .box .setting_modal.daum.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrap.daum .box .setting_modal li a::before {
  width: 43px;
  height: 43px;
}
.wrap.daum .box .setting_modal li a.setting_1::before {
  background: url("../img/icon-d-map.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_2::before {
  background: url("../img/icon-d-finance.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_3::before {
  background: url("../img/icon-d-mail.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_4::before {
  background: url("../img/icon-d-sports.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_5::before {
  background: url("../img/icon-d-cafe.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_6::before {
  background: url("../img/icon-d-game.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_7::before {
  background: url("../img/icon-d-webtoon.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_8::before {
  background: url("../img/icon-d-shopping.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_9::before {
  background: url("../img/icon-d-news.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_10::before {
  background: url("../img/icon-d-cloud.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_11::before {
  background: url("../img/icon-gift.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a.setting_12::before {
  background: url("../img/icon-melon.png") no-repeat center/contain;
}
.wrap.daum .box .setting_modal li a span {
  margin-top: 2px;
}
.wrap.daum .logo {
  width: 260px;
  height: 65px;
  background: url("../img/logo-daum.png") no-repeat center/contain;
  margin: 245px auto 74px;
}
.wrap.daum .search_wrap {
  border: 1px solid #273552;
}
.wrap.daum .search_wrap.active::before {
  background: url("../img/logo-daum-2.png") no-repeat center/contain;
}
.wrap.daum .search_wrap.active input {
  border-bottom: 1px solid #273552;
}
.wrap.daum .select_btn::before {
  background: url("../img/logo-daum-2.png") no-repeat center/contain;
}
.wrap.daum .search_list {
  border: 1px solid #273552;
}
.wrap.daum .search_list .search_head h5 {
  color: #273552;
}
.wrap .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  font-size: 14px;
  color: #666;
}
.wrap .box > a {
  display: none;
}
.wrap .box button.more_btn {
  padding: 6px;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.wrap .box button.more_btn:hover, .wrap .box button.more_btn.active {
  background-color: #efefef;
}
.wrap .box button.more_btn::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/icon-menu.png") no-repeat center;
}
.wrap .box button.setting_btn {
  padding: 6px;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.wrap .box button.setting_btn:hover, .wrap .box button.setting_btn.active {
  background-color: #efefef;
}
.wrap .box button.setting_btn::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/icon-setting.png") no-repeat center/contain;
}
.wrap .box .setting_modal {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  width: 261px;
  min-height: 371px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background-color: #f9fcff;
  z-index: 999;
}
.wrap .box .setting_modal li {
  width: 52px;
}
.wrap .box .setting_modal li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.wrap .box .setting_modal li a::before {
  content: "";
  display: block;
}
.wrap .box .setting_modal li a span {
  font-size: 12px;
  color: #333;
}
.wrap .search_group {
  position: relative;
  width: 700px;
  min-height: 50px;
  margin: auto;
  margin: 0 auto 55px;
}
.wrap .search_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding-right: 21px;
  /* 포커스 시 */
}
.wrap .search_wrap.active {
  position: absolute;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 22px;
  z-index: 998;
}
.wrap .search_wrap.active::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  z-index: 999;
}
.wrap .search_wrap.active .select {
  display: none;
}
.wrap .search_wrap.active input {
  position: relative;
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding-left: 34px;
}
.wrap .search_wrap.active .search_btn {
  position: absolute;
  right: 21px;
}
.wrap .search_wrap .select {
  position: relative;
  width: 96px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.wrap .search_wrap .select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 23px;
  background-color: #d9d9d9;
}
.wrap .search_wrap .select .select_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.wrap .search_wrap .select .select_btn::before {
  content: "";
  width: 18px;
  height: 18px;
}
.wrap .search_wrap .select .select_btn::after {
  content: "";
  width: 13px;
  height: 7px;
  background: url("../img/icon-selectbox.png") no-repeat center/contain;
  margin: 0 20px;
}
.wrap .search_wrap .select_active {
  position: relative;
  top: 49px;
  left: -1px;
  min-width: 97px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #d9d9d9;
  background-color: #f9fcff;
  z-index: 998;
}
.wrap .search_wrap .select_active button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 15px 22px;
}
.wrap .search_wrap .select_active button.select_btn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .search_wrap .select_active button.select_btn::after {
  content: "";
  right: 0;
  width: 13px;
  height: 7px;
  background: url("../img/icon-selectbox.png") no-repeat center/contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.wrap .search_wrap .select_active button:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}
.wrap .search_wrap .select_active button::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
}
.wrap .search_wrap .select_active button.google::before {
  background: url("../img/logo-google-2.png") no-repeat center/contain;
}
.wrap .search_wrap .select_active button.naver::before {
  background: url("../img/logo-naver-2.png") no-repeat center/contain;
}
.wrap .search_wrap .select_active button.daum::before {
  background: url("../img/logo-daum-2.png") no-repeat center/contain;
}
.wrap .search_wrap input {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 0 20px;
}
.wrap .search_wrap input::-webkit-input-placeholder {
  font-size: 16px;
  color: #d9d9d9;
}
.wrap .search_wrap input::-moz-placeholder {
  font-size: 16px;
  color: #d9d9d9;
}
.wrap .search_wrap input:-ms-input-placeholder {
  font-size: 16px;
  color: #d9d9d9;
}
.wrap .search_wrap input::-ms-input-placeholder {
  font-size: 16px;
  color: #d9d9d9;
}
.wrap .search_wrap input::placeholder {
  font-size: 16px;
  color: #d9d9d9;
}
.wrap .search_wrap .search_btn {
  width: 22px;
  height: 22px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("../img/icon-search.png") no-repeat center/contain;
}
.wrap .search_list {
  display: none;
  position: absolute;
  width: 700px;
  top: -1px;
  border-radius: 26px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 50px 22px 38px;
  z-index: 997;
}
.wrap .search_list .search_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 23px;
}
.wrap .search_list .search_head h5 {
  font-size: 16px;
  font-weight: 600;
}
.wrap .search_list .search_head .total_remove_btn {
  font-size: 16px;
  color: #c9c9c9;
}
.wrap .search_list .search_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrap .search_list ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.wrap .search_list ul.recent_search {
  margin-top: 22px;
}
.wrap .search_list ul.recent_search .left::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url("../img/icon-time.svg") no-repeat center/contain;
}
.wrap .search_list ul.related_search {
  margin-top: 16px;
  min-width: 0;
}
.wrap .search_list ul.related_search .left::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 17px;
  background: url("../img/icon-search.svg") no-repeat center/contain;
}
.wrap .search_list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrap .search_list ul li:not(:last-child) {
  margin-bottom: 14px;
}
.wrap .search_list ul li .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}
.wrap .search_list ul li .left.related_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .search_list ul li .left.related_link::before {
  position: relative;
  left: -5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 26px;
  height: 26px;
  margin-right: 7px;
  background: url("../img/icon-coupang-s-001.png") no-repeat center/contain;
}
.wrap .search_list ul li .left.related_link p {
  font-size: 18px;
  color: #000;
}
.wrap .search_list ul li .left.related_link .link {
  font-size: 18px;
  color: #4285f4;
  margin-left: 40px;
  margin-right: 16px;
}
.wrap .search_list ul li .left::before {
  content: "";
  display: inline-block;
}
.wrap .search_list ul li .left p {
  font-size: 16px;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
}
.wrap .search_list ul li .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .search_list ul li .right span {
  font-size: 16px;
  color: #666;
}
.wrap .search_list ul li .right .remove_btn {
  width: 10px;
  height: 10px;
  background: url("../img/icon-close.svg") no-repeat center/contain;
  margin-left: 15px;
}
.wrap .search_list ul li .right .btn_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 34px;
  font-size: 14px;
  color: #fff;
  border-radius: 6px;
  background-color: #4285f4;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.wrap .search_list ul li .right .btn_link:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.wrap .search_list .related_brand {
  position: relative;
  top: -16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 260px;
  text-align: center;
  border-radius: 10px;
  border: solid 1px #e6e6e6;
  background-color: #fff;
  margin-left: 10px;
  padding: 21px 10px;
}
.wrap .search_list .related_brand .related_logo {
  max-width: 150px;
  max-height: 130px;
  margin: auto;
}
.wrap .search_list .related_brand h5 {
  font-size: 14px;
  font-weight: 600;
  color: #4285f4;
  margin-top: 12px;
}
.wrap .search_list .related_brand p {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.48px;
  color: #000;
  margin-top: 12px;
}
.wrap .search_list .related_brand a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 34px;
  font-size: 13px;
  color: #fff;
  border-radius: 6px;
  background-color: #4285f4;
  margin: 16px auto 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.wrap .search_list .related_brand a:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.wrap .site_wrap {
  display: grid;
  grid-template-columns: repeat(10, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(10, minmax(50px, max-content));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 40px;
  row-gap: 20px;
}
.wrap .site_wrap .site {
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.wrap .site_wrap .site:hover .more_btn {
  display: block;
}
.wrap .site_wrap .more_btn {
  position: absolute;
  top: -8px;
  right: -8px;
  display: none;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  background-color: #f9fcff;
  padding: 9px 5px;
}
.wrap .site_wrap .more_btn.active {
  display: block;
}
.wrap .site_wrap .more_btn::before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: url("../img/icon-more.svg") no-repeat center;
}
.wrap .site_wrap .more_pop {
  position: absolute;
  top: 17px;
  right: -5px;
  display: none;
  width: 120px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background-color: #f9fcff;
  padding: 8px 0;
  z-index: 99;
}
.wrap .site_wrap .more_pop.active {
  display: block;
}
.wrap .site_wrap .more_pop button {
  width: 100%;
  height: 32px;
  text-align: left;
  padding: 0 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.wrap .site_wrap .more_pop button:hover {
  background-color: #e4f1ff;
}
.wrap .site_wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .site_wrap a::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 18px;
  border: 1px solid #e1e1e1;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  padding: 8px;
}
.wrap .site_wrap a span {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 17px;
  white-space: nowrap;
}
.wrap .site_wrap a.naver::before {
  background: url("../img/icon-naver.png") no-repeat center;
}
.wrap .site_wrap a.google::before {
  background: url("../img/icon-google.png") no-repeat center;
  background-color: rgba(246, 246, 246, 0.8);
}
.wrap .site_wrap a.daum::before {
  background: url("../img/icon-daum.png") no-repeat center;
  background-color: rgba(246, 246, 246, 0.8);
}
.wrap .site_wrap a.youtobe::before {
  background: url("../img/icon-youtobe.png") no-repeat center;
  background-color: rgba(246, 246, 246, 0.8);
}
.wrap .site_wrap a.insta::before {
  background: url("../img/icon-insta.png") no-repeat center;
}
.wrap .site_wrap a.coupang::before {
  background: url("../img/icon-coupang.png") no-repeat center;
  background-color: rgba(246, 246, 246, 0.8);
}
.wrap .site_wrap a.gmarket::before {
  background: url("../img/icon-gmarket.png") no-repeat center;
}
.wrap .site_wrap a.auction::before {
  background: url("../img/icon-auction.png") no-repeat center;
}
.wrap .site_wrap a.store::before {
  background: url("../img/icon-11.png") no-repeat center;
}
.wrap .site_wrap a.ali::before {
  background: url("../img/icon-ali.png") no-repeat center;
}
.wrap .go::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 18px;
  border: 1px solid #e1e1e1;
  background: url("../img/icon-plus.png") no-repeat center;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  padding: 8px;
  margin-bottom: 17px;
}
.wrap .go span {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-align: center;
  white-space: nowrap;
}

.modal_wrap {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal_wrap .pop {
  position: relative;
  width: 460px;
  color: #333;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  padding: 28px 30px 30px;
}
.modal_wrap .pop .pop_header {
  margin-bottom: 8px;
}
.modal_wrap .pop .pop_header .close_btn {
  position: absolute;
  top: 13px;
  right: 23px;
  padding: 8px;
  border-radius: 6px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.modal_wrap .pop .pop_header .close_btn::before {
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  background: url("../img/icon-close2.svg") no-repeat center;
}
.modal_wrap .pop .pop_header .close_btn:hover {
  background-color: #efefef;
}
.modal_wrap .pop .pop_body .form_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 30px;
}
.modal_wrap .pop .pop_body .form_list label {
  font-size: 14px;
}
.modal_wrap .pop .pop_body .form_list input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #fff;
  padding: 0 20px;
  margin-top: 13px;
}
.modal_wrap .pop .pop_body .form_list input::-webkit-input-placeholder {
  color: #c9c9c9;
}
.modal_wrap .pop .pop_body .form_list input::-moz-placeholder {
  color: #c9c9c9;
}
.modal_wrap .pop .pop_body .form_list input:-ms-input-placeholder {
  color: #c9c9c9;
}
.modal_wrap .pop .pop_body .form_list input::-ms-input-placeholder {
  color: #c9c9c9;
}
.modal_wrap .pop .pop_body .form_list input::placeholder {
  color: #c9c9c9;
}
.modal_wrap .pop .pop_body .form_list input:focus {
  border: 1px solid #4285f4;
}
.modal_wrap .pop .pop_body .form_list input:focus ~ label {
  color: #4285f4;
}
.modal_wrap .pop .pop_body .form_list .close_btn {
  position: absolute;
  bottom: 11px;
  right: 17px;
  padding: 5px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.modal_wrap .pop .pop_body .form_list .close_btn::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: url("../img/icon-close3.svg") no-repeat center;
}
.modal_wrap .pop .pop_body .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 10px;
}
.modal_wrap .pop .pop_body .btn_wrap button {
  width: 49px;
  height: 34px;
  border-radius: 8px;
}
.modal_wrap .pop .pop_body .btn_wrap button.cancle_btn {
  border: 1px solid #e1e1e1;
  background-color: #fff;
}
.modal_wrap .pop .pop_body .btn_wrap button.add_btn, .modal_wrap .pop .pop_body .btn_wrap button.modify_btn {
  color: #fff;
  border: 1px solid #4285f4;
  background-color: #4285f4;
}
.modal_wrap .pop .pop_body .btn_wrap button.add_btn:disabled, .modal_wrap .pop .pop_body .btn_wrap button.modify_btn:disabled {
  color: #bbb;
  border: 1px solid #e1e1e1;
  background-color: #f1f1f1;
}
.modal_wrap .pop .pop_body .box {
  width: 100%;
  height: 254px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #fff;
  padding: 21px;
  margin-top: 30px;
  overflow-y: scroll;
}
.modal_wrap .pop .pop_body .box .tab_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal_wrap .pop .pop_body .box .tab_wrap button {
  font-size: 12px;
  color: #bbb;
}
.modal_wrap .pop .pop_body .box .tab_wrap button.active {
  color: #333;
}
.modal_wrap .pop .pop_body .box .tab_wrap button:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #e1e1e1;
  margin: 0 14px;
}
.modal_wrap .pop .pop_body .box .list_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 13px;
  margin-top: 18px;
}
.modal_wrap .pop .pop_body .box .list_wrap li {
  width: 25%;
}
.modal_wrap .pop .pop_body .box .list_wrap li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 86px;
  height: 84px;
  border-radius: 10px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.modal_wrap .pop .pop_body .box .list_wrap li button span {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modal_wrap .pop .pop_body .box .list_wrap li button:hover {
  background-color: #efefef;
}
.modal_wrap .pop .pop_body .box .list_wrap li button::before {
  content: "";
  width: 32px;
  height: 32px;
  display: block;
  background: url("../img/logo-netflix-2.png") no-repeat center;
  border-radius: 18px;
  padding: 9px;
  background-color: #efefef;
  margin: 6px 0;
}
.modal_wrap .pop .pop_body .box2 {
  width: 100%;
  height: 224px;
  border-radius: 8px;
  border: solid 1px #e1e1e1;
  background-color: #fff;
  padding: 11px;
  margin: 10px 0 38px;
  overflow-y: scroll;
}
.modal_wrap .pop .pop_body .box2 .list_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
}
.modal_wrap .pop .pop_body .box2 .list_wrap .bg_option input {
  display: none;
}
.modal_wrap .pop .pop_body .box2 .list_wrap .bg_option img,
.modal_wrap .pop .pop_body .box2 .list_wrap .bg_option span {
  width: 67px;
  height: 100%;
  font-size: 10px;
  border: 2px solid transparent;
  border-radius: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.modal_wrap .pop .pop_body .box2 .list_wrap .bg_option span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e1e1e1;
}
.modal_wrap .pop .pop_body .box2 .list_wrap .bg_option input:checked + img,
.modal_wrap .pop .pop_body .box2 .list_wrap .bg_option input:checked + span {
  border: 2px solid #4285f4;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.file_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 25px;
}
.file_wrap .file_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 67px;
  height: 44px;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
}
.file_wrap .file_img::before {
  content: "";
  width: 37px;
  height: 26px;
  background: url("../img/img-load.svg") no-repeat center;
}
.file_wrap .file_img img {
  position: absolute;
  width: 67px;
  height: 44px;
}
.file_wrap .file_img .remove_btn {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 5px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.file_wrap .file_img .remove_btn::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: url("../img/icon-close3.svg") no-repeat center;
}
.file_wrap .file_add {
  width: 215px;
  height: 44px;
}
.file_wrap .file_add input {
  display: none;
}
.file_wrap .file_add label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #4285f4;
  background-color: #4285f4;
  cursor: pointer;
}
.file_wrap .file_add label::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("../img/down.png") no-repeat center;
  margin-right: 10px;
}/*# sourceMappingURL=portal.css.map */